.slide {
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;

}



.explanation {
  background-color:#061922
}

h4 {
  color:#ece6d8
}

p {
  color:#ece6d8
}

.m-b-3 {
  font-size: 200%;
}