.slide {
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;

}



.explanation {
  background-color:#061922
}

p {
  color:#ece6d8
}

.m-b-3 {
  font-size: 200%;
}

h3 {
  font-size: 30%;
  padding: -5px;
}

h4 {
  color:#ece6d8
}

h5 {
  color: #467294
}